
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    font-family: "Inter", sans-serif;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
img{
    width: 100%
}
.container {
    max-width: 1080px;
    width: 100%;
    margin: auto;
}
body {
    background: #8ea812;
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 1px solid #d9d9d920;
    z-index: 200;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}
.logo img {
    width: 70px;
}
.nav-links {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.nav-links{
    background: #00000040;
    padding: 10px 20px;
    color: #fff;
    border-radius: 5rem;
    transition: all 0.5s ease;
}
.nav-link:hover, 
#active ,
.nav-icons i:hover {
    background: #fff;
    color: #000;
}
.nav-icons {
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-icons i {
    font-size: 20px;
    padding: 10px;
    background: #00000040;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    transition: all0.5 ease-in-out;
}
.main-container {
    min-height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.carousel-img {
    max-width: 400px;
    object-fit: contain;
    object-position: center;
}
.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: #ffffff85;
    filter: blur(8rem);
    z-index: -1;
}
.backdround-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
    z-index: -1;
}
.data-container {
    position: absolute;
    bottom: 50px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: #fff;
}
.text {
    max-width: 350px;
}
.text h1 {
    font-size: 2rem;
    font-weight: 500;
    transition: all 0.5s ease;
}
.text span {
    display: block;
    margin: 10px 0;
}
.text p {
    margin-bottom: 1.5rem;
}
.add-cart-btn {
    background: #fff;
    color: #000;
    padding: 14px 30px;
    border-radius: 5rem;
}
.price {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
}
.arrows {
    display: flex;
    align-items: center;
    gap: 10px; 
}
.arrows i {
    font-size: 20px;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.arrows i:hover {
    background: rgba(255,255,255,.1);
    transform: scale(1.1);
}

.animate-top {
    animation: fromTop 1.4s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}
@keyframes fromTop {
    0% {
        transform: translateY(-60px);
        opacity: 0;
    }
    100% {
        transform: translateY(opx);
        opacity: 1;
    }
}
.animate-right {
    animation: fromrRight 1.4s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}
@keyframes fromRight {
    0% {
        transform: translate(-50%, 50%) translateX(80px);
        opacity: 0;
    }
    100% {
        transform: translate(-50%, 50%) translateX(0px);
        opacity: 1;
    }
}
.animate-scale {
    animation: scaleUp 1.4s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}
@keyframes scaleUp {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
